<!-- djangoapp/templates/about.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/djangoapp/">Home</a>
            </div>
        </div>
    </nav>
    <h1>About Us</h1>
    <p>Welcome to our car dealership! We are dedicated to providing the best services to our customers.</p>

 
</body>
</html>
