<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <a class="navbar-brand" href="/djangoapp/">Home</a>
        <a class="navbar-brand" href="/djangoapp/about">About Us</a>
        <a class="navbar-brand" href="/djangoapp/contact">Contact Us</a>            
    
        <!--Add a nav bar here -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Username" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>        
    <!--Add review form here -->
    <h3> Add a review about {{ dealer }}</h3>
    <h4> Enter the review content:</h4>
    <div class="container mt-5">
        <form class="form-inline" action="{% url 'djangoapp:add_review' dealer_id%}" method="post">
            {% csrf_token %}
            <!-- Review Content -->
            <div class="mb-3">
                <label for="content" class="form-label">Review Content</label>
                <textarea class="form-control" id="content" name="content" rows="2" style="width: 100%;" required></textarea>
            </div>

            <!-- Purchase Checkbox -->
            <div class="mb-3 form-check">
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                <label class="form-check-label" for="purchasecheck">Have you purchased the car from {{ dealer }}? (select purchased car information if checked)</label>
            </div>

            <!-- Car Dropdown -->
            <div class="mb-3">
                <label for="car" class="form-label">Select your car (model-make-year): </label>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                    {% endfor %}
                </select>
            </div>
             <!-- Purchase Date -->
             <div class="mb-4">          
                <p> Select your purchase date: </p>
                <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                <script type="text/javascript">
                    $('.date-own').datepicker({
                    format: 'mm/dd/yyyy'
                    });
                </script>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS and Popper.js scripts (make sure to replace with the correct paths) -->
    <script src="path/to/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="path/to/popper.min.js"></script>    
    </body>
</html>