<!-- djangoapp/templates/contact.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{link}}">Home</a>
            </div>
        </div>
    </nav>
    <h1>Contact Us</h1>
    <p>Address: Islamabad, Pakistan.</p>
    <p>Telephone Number: +92 51 345 6543</p>

   
</body>
</html>
